<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderman.payment.mapper.PaymentMapper">
    <select id="findById" resultType="com.coderman.payment.model.Payment">
        select id,serial from tb_payment where id=#{id}
    </select>
    <insert id="save">
        insert into tb_payment(serial)
        values(#{serial})
    </insert>
    <select id="listAll" resultType="com.coderman.payment.model.Payment">
        select id,serial from tb_payment
    </select>
</mapper>
